$text-header-color: #FFFFFF;
$text-section-color: #4488BB;
$border-hr-color: #ACACAC;
$submit-color: #3A74A0;
$submit-text-color: #EEEEEE;
$hyperlink-color: #AAAAAA;
$form-backroud-color: #FFFFFF;
$form-text-color: #4488BB;
$form-input-color: #EEEEEE;
$form-label-color: #AAAAAA;
$input-delete: #AAAAAA;
$error-background: red;
$error-text: white;
$main-background-color: #FFFFFF;
$text-main-color: #FFFFFF;